@* Views/Equipo/Index.cshtml *@
@{
    ViewData["Title"] = "Lista de Equipos";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre del Equipo</th>
            <th>Descripción</th>
            <th>Disponibilidad</th>
        </tr>
    </thead>
    <tbody>
        @* *@
        <tr>
            <td>Equipo 1</td>
            <td>Descripción del equipo 1</td>
            <td>Disponible</td>
        </tr>
        <tr>
            <td>Equipo 2</td>
            <td>Descripción del equipo 2</td>
            <td>No Disponible</td>
        </tr>
    </tbody>
</table>
